@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 400;
  src: url('../font/DIN-Medium.otf');
}
@font-face {
  font-family: 'DingTalk JinBuTi';
  font-style: normal;
  font-weight: 400;
  src: url('../font/DingTalk JinBuTi.ttf');
}
