.rainbow-border-box {
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.rainbow-border-box::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  border-radius: 22px;
  z-index: -1;
  animation: glowing-border 3s linear infinite;
  filter: blur(8px);
}

@keyframes glowing-border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
